*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

main{
    background-image: url("images/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 400px;
}
header{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo{
    height: 150px;
}

nav{
    padding-right: 20px;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.nav-link a{
    text-decoration: none;
    color: rgb(23, 47, 69);
}

.button1{
    height:40px;
    width:80px;
    background-color: transparent;
    border-color: rgb(224, 148, 55);;
}

.button2{
    height:40px;
    width:80px;
    background-color: rgb(224, 148, 55);
    border: none;
}

.button1 a{
    color: rgb(23, 47, 69);
}

.button2 a{
    color: rgb(231, 223, 211);
}

.main-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.mainHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(23, 47, 69);
    height: 250px;
    width: auto;
}

.mainHeading h1{
    font-size: 4vw;
}

.mhbutton{
    display: flex;
    gap: 20px;
}

.des-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229, 229, 245);
    width: 100vw;
    margin-top: 20px;
}

.des-heading{
    color: rgb(7, 7, 111);
}

.des-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.des-items a{
    text-decoration: none;
    text-align: center;
}

.des-pic{
    width: 250px;
    height: 150px;
}

.des-title{
    position: relative;
    top: -30px;
    bottom: 0px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color:azure;
}

.des-button{
    width: auto;
    height: 50px;
    background-color: rgba(3, 33, 109, 0.5);
    margin-top: 10px;
}

.des-button a{
    color: azure;
}

.notes{
    margin-top: 50px;
    width: 800px;;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgba(3, 33, 109, 0.5);
}

.notes h1{
    text-align: center;
    margin-bottom: 20px;
}

.notes img{
    height: 300px;
    width: auto;
    float: left;
    border-color: green;
    margin-right: 30px;
}

.notes p{
    text-align: justify;
    font-size: 20px;
}

.enquiry{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(210, 215, 217);
    width: 40vw;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 15px;
}

.form-group label{
    margin-bottom: 5px;
}

.form-group input{
    margin-bottom: 25px;
    height: 30px;
}

.submit-button{
    height: 40px;
    background-color: rgba(3, 33, 109, 0.5);
    border-radius: 10px;
    border-style: none;
    margin-top: 15px;
}

footer{
    height: 50px;
    background-color: antiquewhite;
}

@media screen and (max-width: 1200px) {
    nav{
        padding-right: 5rem;
    }
}

@media screen and (max-width: 992px) {
    .des-item{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 40px;
    }

    .notes{
        width: 600px;
    }

    .form-group{
        margin-top: 10px;
        height: 80vh;
    }

    .submit-button{
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    nav{
        padding-right: 1.15rem;
    }

    .des-item{
        grid-template-columns: repeat(2, 300px);
        margin-left: 40px;
    }

    .notes p{
        font-size: 15px;
    }

    .enquiry{
        width: 50vw;
    }

    .form-group{
        margin-top: 10px;
        height: 100vh;
    }

}

@media screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        height: auto;
        border-bottom: 2px solid rgb(100, 99, 99);
    }

    nav{
        padding-bottom: 20px;
    }

    .mainHeading{
        height: 150px;
    }

    .des-item{
        grid-template-columns: 1fr 1fr;
    }
    
    .notes{
        width: 550px;
    }

    .notes p{
        font-size: 15px;
    }

    .enquiry{
        width: 60vw;
    }

    .enquiry h1{
        margin-top: 10px;
    }

    .form-group{
        margin-top: 10px;
        height: 110vh;
    }
}

@media screen and (max-width: 600px){
    .des-item{
        grid-template-columns: 1fr 1fr;
        width: 500px;
    }

    .des-pic {
        width: 200px;
        height: 150px;
    }

    .des-title{
        font-size: 12px;
    }

    .notes {
        width: 400px;
    }
}

@media screen and (max-width: 400px){
    header{
        border-bottom: 2px solid rgb(100, 99, 99);
    }

    nav{
        width:90%;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .nav-link{
        font-size: 13px;
    }

    .mainHeading{
        margin-top: 20px;
    }

    .mainHeading h1 {
        font-size: 5vw;
        margin-bottom: 10px;
    }

    .mhbutton{
        display: flex;
        flex-direction: column;
    }

    .mhbutton a{
        color: azure;
    }
    .des-item{
        grid-template-columns: 1fr;
        width: 300px;
    }
    .des-pic {
        width: 250px;
        height: 200px;
    }

    .notes {
        width: 250px;
    }

    .enquiry {
        width: 85vw;
    }

    .form-group{
        width: 80%;
    }
}